* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(bg_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffffa4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgb(0, 85, 255);
  width: 40%;
  max-width: 100%;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

.game {
  text-align: center;
}

.guess-form {
  margin-bottom: 20px;
}

.guess-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.guess-field {
  padding: 10px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid black;
}

.guess-submit {
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.guess-submit:hover {
  background-color: #0056b3;
}

.result {
  margin-bottom: 20px;
}

.message {
  margin-top: 10px;
  font-weight: bold;
}

.new-game {
  padding: 10px 20px;
  background-color: #00ff1a96;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  /* border-radius: 5px; */
}

.new-game:hover {
  background-color: #36b652b8;
}
